.noticia-1 {
    background-color: hsl(0, 59%, 41%);
    display: flex;
    color: white;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
}
.textfield{
    margin-left: 10px;
}
a{
    
    color: white;
}
.container {
    background-color: hsl(0, 59%, 41%);
    display: flex;
    color: white;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Apenas para exemplo, pode ser qualquer altura */
  }
  
  .centered-heading {
    text-align: center;
  }
  